:root {
  --color-primary: #008ccf;
  --color-secondary: #006190;
  --color-secondary--active: #004262;
  --color-tertiary: #861f9e;
  --color-tertiary--active: #6e049e;
  --color-link: #0079b3;
  --color-link--active: #004a6e;
  --color-link--visited: var(--color-tertiary);
  --color-link--visited-active: var(--color-tertiary--active);
  --color-success: #15a453;
  --color-danger: #d83135;
  --color-font: #333;
  --color-font-subtle: #666;
  --color-subtle: #d8d8d8;
  --color-subtler: #f9f9f9;
  --white-color: #eee;
}

html {
  font-family: ;
  font-size: 10px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

.ustuff {
  position: fixed;
  display: inline-flex;
  border-top: 2px solid;
  width: 100dvw;
  background-color: var(--color-font);
  color: var(--color-subtle);
  padding: 8px;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}
.ustuff p {
  position: relative;
}

.ustuff img {
  padding: 8px;
  height: 60px;
}
.ustuff .copyright {
  text-align: center;
  font-size: 1.2rem;
  padding: 0;
  margin: auto;
}

.ustuff .logo-credits {
  font-size: 1rem;
  text-align: center;
  padding: 0;
  margin: auto 25px;
}

.header {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  font-weight: 400;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.sticky {
  opacity: 85%;
}

.main-nav-container {
  position: absolute;
  display: flex;
  background-color: var(--white-color);
  font-size: 1.5rem;
  width: 100dvw;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.main-nav-container > * {
  color: var(--color-primary);
}

.main-nav-container .logos {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 20px;
  width: 35%;
}

.social img {
  height: 30px;
  transition: all 0.2s;
  border-radius: 50%;
}

.social img:hover {
  height: 32px;
  outline: 3px solid #9999ff;
}

.nav-menu {
  width: 65%;
  position: absolute;
  display: flex;
  justify-content: end;
  right: 40px;
  transition: all 0.5s;
}

.nav-menu .menu-item {
  border-radius: 5px;
  padding-left: 12px;
  transition: all 0.3s;
}

.menu-item:hover {
  font-size: 1.6rem;
  font-weight: 600;
}

.link-item:hover {
  color: var(--color-secondary);
  border-bottom: 2px solid;
}

.content {
  position: relative;
  margin: 30px auto;
  width: 80dvw;
  padding-top: 20px;
  transition: all 0.5s;
}

.content > * {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .link-item {
    font-size: 1.1rem;
  }
}
